.container{
  background-color: #d7d7f4;
  padding-right: 30px;
  border-radius: 5px;  
  width: 40%;
  margin-top:2.5%;
}

#header{
  margin-top:2.5%;
  text-align:center;
  font-size:64px;
}

#home{
  display:block;
  margin-top:2.5%;
  margin:0 auto;
  background-color:#5f5fd3;
  width:10%;
  height:5%;
  font-size:24px;
}

#about{
  display:block;
  margin-top:2.5%;
  margin:0 auto;
  background-color:#5f5fd3;
  width:10%;
  height:5%;
  font-size:24px;
}

#submit{
  display:block;
  margin:0 auto;
}

label{
  font-size:16px;
}
