.container{
  background-color: #d7d7f4;
  padding-right: 30px;
  padding-top: 20px;
  border-radius: 5px;  
  width: 40%;
  margin-top:10%;
}

#header{
  margin-top:2.5%;
  text-align:center;
  font-size:64px;
}

#home{
  display:block;
  /*margin-top:2.5%;*/
  margin:0 auto;
  background-color:#5f5fd3;
  width:10%;
  height:8%;
  font-size:24px;
  position: absolute;
  right: 25px;
  bottom: 30px;
}

#about{
  display:block;
  /*margin-top:2.5%;*/
  margin:0 auto;
  background-color:#5f5fd3;
  width:10%;
  height:8%;
  font-size:24px;
  position: absolute;
  left: 10px;
  bottom: 30px;
}

#submit{
  display:block;
  margin:0 auto;
}

label{
  font-size:16px;
}

.topcorner{
   position:absolute;
   top:0;
   right:0;
  }